- var user = "Инокентий Виссарионович"

.user
  p.user__name= user
  a(href= "#").user__btn

    <svg class="user__btn-img" width="15px" height="16px" viewBox="0 0 310 330" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M175.606 4.39325C169.75 -1.46375 160.251 -1.46475 154.393 4.39225C148.536 10.2502 148.535 19.7472 154.393 25.6052L198.787 70.0013H15C6.716 70.0013 -1.09863e-06 76.7173 -1.09863e-06 85.0013C-1.09863e-06 93.2853 6.716 100.001 15 100.001H198.785L154.393 144.393C148.535 150.251 148.535 159.748 154.393 165.606C157.322 168.535 161.161 169.999 165 169.999C168.839 169.999 172.678 168.535 175.606 165.606L245.604 95.6082C251.462 89.7512 251.462 80.2532 245.604 74.3952L175.606 4.39325Z" transform="translate(60.002 79.9988)" fill="#398BF7"/>
    <path d="M145 330C153.284 330 160 323.284 160 315C160 306.716 153.284 300 145 300H30V30H145C153.284 30 160 23.284 160 15C160 6.716 153.284 0 145 0H15C6.716 0 0 6.716 0 15V315C0 323.284 6.716 330 15 330H145Z" fill="#398BF7"/>
    </svg>
