.user__btn {
  padding: 12px 12.5px;
  height: 40px;
  width: 40px;
  background: #ffffff;
}

.user__btn:hover {
  background: #398bf7;

  path {
    fill: #ffffff;
  }
}

.user__btn:active {
  background: rgba(57, 139, 247, .8);
}
