.sidenav {
  height: 100%;
  width: 40px;
  min-width: 40px;
  background-color: #f7fcfc;
  overflow: hidden;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.sidenav:hover {
  min-width: 200px;
}
