.content {
  padding: 38px 0 38px 28px;
  height: calc(100% - 40px);
  background-color: #ebeff3;
  box-shadow: inset 4px 0 5px -4px rgba(128, 128, 128, 0.6), inset 0 4px 5px -4px rgba(128, 128, 128, 0.6);
  overflow: hidden;
}
