a(href="index.html").logo
  .logo__img-wrap
    <svg class="logo__img" width="30" height="20" viewBox="0 0 80 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M79.536 43.346H0L3.946 36.5L16.231 15.216C18.406 11.456 21.953 11.456 24.12 15.216C24.12 15.216 26.973 20.158 27.317 20.736C28.951 17.911 37.658 2.82 37.658 2.82C39.838 -0.939999 43.383 -0.939999 45.552 2.82L62.853 32.788C63.744 31.24 64.624 29.724 65.296 28.532C66.87 25.819 69.423 25.819 71.003 28.532C72.566 31.256 75.13 35.698 76.704 38.401L79.536 43.346Z" fill="#398BF7"/>
    </svg>

  span.logo__text Logotype
